#ifndef CS_UNDERSTANDING_CALL_{{ name_sanitized.upper() }}_SERVICE_HPP_
#define CS_UNDERSTANDING_CALL__{{ name_sanitized.upper() }}_SERVICE_HPP_

#include "ament_index_cpp/get_package_share_directory.hpp"

#include "{{ package }}/srv/{{ typ_snake }}.hpp"
#include <behaviortree_ros2/bt_service_node.hpp>
#include <string>
#include <iostream>
#include <fstream>
#include <filesystem>


class Call{{ name_sanitized_camel }}Service : public BT::RosServiceNode<triplestar_msgs::srv::SelectQuery>
{
public:
  explicit Call{{ name_sanitized_camel }}Service(const std::string& name, const BT::NodeConfig& config,
               const BT::RosNodeParams& params)
    : BT::RosServiceNode<{{ package }}::srv::{{ typ }}>(name, config, params)
  {
    setServiceName("{{ name }}");
  }

  /**
   * @brief Required method that creates list of BT ports
   *
   * Must call providedBasicPorts in it.
   *
   * @return PortsList Containing basic ports along with node-specific ports
   */
  static BT::PortsList providedPorts()
  {
    return providedBasicPorts({
      {% for [parameter, typ] in parameters %}
        BT::InputPort<{{ typ }}>(
          "{{ parameter }}",
          ""),
      {% endfor %}
      {% for [output, typ] in outputs %}
        BT::OutputPort<{{ typ }}>(
            "{{ output }}",
            "")
        });
      {% endfor %}
  }

  void set_coresense_parameter();
  /**
   * @brief Required callback that allows the user to set the goal message.
   *
   * @param goal The goal to be sent to the action server.
   *
   * @return false if the request should not be sent. In that case,
   * RosActionNode::onFailure(INVALID_GOAL) will be called.
   */
  bool setRequest(Request::SharedPtr& request) override;

  /**
   * @brief Required callback invoked when the result is received by the server.
   *
   * It is up to the user to define if the action returns SUCCESS or FAILURE.
   */
  BT::NodeStatus onResponseReceived(const Response::SharedPtr& response) override;

  /**
   * @brief Optional callback invoked when something goes wrong.
   *
   * It must return either SUCCESS or FAILURE.
   */
  BT::NodeStatus onFailure(BT::ServiceNodeErrorCode error) override;

private:

};

#endif
