{
  "name": "Call{{ name_sanitized_camel }}Service",
  "inputs": [
  {% for parameter in parameters %}
    {
      "name": "{{ parameter[1] }}",
      "formalism" : "{{ parameter[0] }}",
      "concepts": [],
      "representation_classes": [],
      "requirements": []
    },
    {% endfor %}
  ],
  "engine_output": {
    "name": "{{ outputs[0][1] }}",
    "formalism" : "ros:msg:{{ outputs[0][0] }}",
    "concepts": [],
    "representation_classes": []
  },
  "transit_properties": [],
  "time_delay": 0.2,
  "energy_cost": 0.0,
  "resources_consumed": [],
  "resources_blocked": []
}

