{
  "name": "Call{{ name_sanitized_camel }}Service",
  "inputs": [
  {% for input in inputs %}
    {
      "name": {{ input.name }},
      "formalism": {{ input.formalism }},
      "concepts": [],
      "representation_classes": [],
      "requirements": []
    },
  {% endfor %}
  ],
  "engine_output": {
    "name": "modelet",
    "formalism" : "ros:msg:{{ package }}/msg/{{ typ }}",
    "concepts": [
{% for concept in concepts -%}
      "{{ concept }}"
      {% if not loop.last %}, {% endif %}
{%- endfor %}
    ],
    "representation_classes": [
{% for representation_class in representation_classes %}
      "{{ representation_class }}"
      {% if not loop.last %}, {% endif %}
{% endfor %}
    ],
    "properties": [
{% for property in properties %}
      "{{ property }}"
      {% if not loop.last %}, {% endif %}
{% endfor %}
    ]
  },
  "transit_properties": [],
  "time_delay": 0.2,
  "energy_cost": 0.0,
  "resources_consumed": [],
  "resources_blocked": []
}
