PREFIX xsd:  <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX cso: <https://github.com/CoreSenseEU/CoreSense/blob/main/models/ontology/coresense_ontologies/CSO/cso.sysml#>
PREFIX csu: <https://github.com/CoreSenseEU/coresense_understanding_bringup/blob/main/preload/understanding.ttl#>
PREFIX msg: <ros:msg:>
PREFIX action: <ros:action:>
PREFIX srv: <ros:service:>

PREFIX rc: <coresense:representation_class:>
PREFIX concept: <coresense:concept:>
PREFIX property: <coresense:property:>
PREFIX modelet: <coresense:modelet:>
PREFIX engine: <coresense:engine:>

# Example SPARQL insertion template using Jinja2 syntax.
#
# The 'msg' variable contains the incoming ROS message.
# In this template, '@' is used to escape inner jinja syntax

INSERT DATA {
  modelet:{{ typ_snake }}_@{@{ msg.header.stamp.nsec if msg.header else now() @}@} rdf:type cso:Modelet;
    csu:hasFormalism msg:{{ package }}\/{{ typ }};
    @{@% if msg.header @%@}
    csu:hasCreationTime @{@{ msg.header.stamp | rdf @}@};
    csu:fromFrame @{@{ msg.header.frame_id @}@};
    @{@% endif @%@}
    csu:annotatesModelet "@{@{ msg | serialize @}@}"^^xsd:string.
    {% for concept in concepts %}
    csu:modelsConcept concept:{{ concept }};
    {% endfor %}
    {% for rc in representation_classes %}
    csu:hasRepresentationClass rc:{{ rc }};
    {% endfor %}
}

